/* White Box */
.dice-container{
    position: absolute;
    width: 50%;
    min-width: 320px;
    max-width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    background:#F5F5F5;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dice-title{
    font-size: calc(3vw + 40%);
    text-align: center;
    letter-spacing: -0.03em;
    color: #2B283A;
    margin: 10% 0px 0px 0px;
}

.dice-description {
    font-size: calc(1.5vw + 20%);
    font-family: 'Inter';
    text-align: center;
    letter-spacing: -0.03em;
    color: #4A4E74;
    margin: 0px auto;
    width: 65%;
}

.dice {
    margin-top: 10%;
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
    grid-template: auto auto/repeat(5, 1fr);
}

.die {
    width: 50%;
    aspect-ratio: 1/1; 
    margin: 9% 15%;
    padding: 10%; 
    border-radius: 10%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); 
    background-color:#2B283A;
    cursor: pointer;
}

/* Die's faces */
.dot {
    display: block;
       width: calc(0.9vw + 3px);
       aspect-ratio: 1/1;
       border-radius: 50%;
       background: #FFFFFF;
}

.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-face{
    display: flex;  
    justify-content : space-between;
}

.third-face{
    display: flex;  
    justify-content : space-between;
}

.fourth-face{
    display: flex;
    justify-content: space-between;
}

.fourth-face .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face{
    display: flex;
    justify-content: space-between;
}

.fifth-face .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

.second-face .dot:nth-of-type(1) {align-self: center;}
.second-face .dot:nth-of-type(2) {align-self: center;}
.third-face .dot:nth-of-type(1) {align-self: flex-start;}
.third-face .dot:nth-of-type(2) {align-self: center;}
.third-face .dot:nth-of-type(3) { align-self: flex-end; }
.fifth-face .column:nth-of-type(2) { justify-content: center; }

.held {
    background: #59E391;
}

.dice-button{
    margin: 7% 39%;
    width: 23%;
    aspect-ratio: 2.5 / 1;
    cursor: pointer;
    border: none;
    color: white;
    background: #5035FF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.5vw;
}

